* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, sans-serif; 
    background: linear-gradient(135deg, #eef2ff, #fdf2f8);
    color: #1f2937
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

.btn {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn-primary {
    background: #6366f1;
    color: white;
}
.btn-primary:hover {
    background: #4f46e5;
}